/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

.judul {
    font-size: 28px;
}

.subtitle {
    font-size: 14px;
}

/* Navigasi */
nav {
    background-color: #333;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #555;
}

/* Layout utama */
.container {
    display: flex;
    margin: 20px;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: #ddd;
    padding: 15px;
}

/* Konten utama */
.content {
    width: 75%;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
}

/* Gambar */
.content img {
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}